html, body {
    width: 100%;
}
.gameboard {
    border: #CCC solid 2px;
    margin: 25px auto;
    background-color: #EAEAEA;
    width: 80%;
}

.banner {
}

.footer {
    font-weight: bold;
    margin: 15px;
}

.gameboard > .row {
    overflow: hidden;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.tile {
    background-color: #FFF;
    border: 5px solid #EAEAEA;
}

.badge-purple {
    background-color: #9585bf!important
}
